{% extends "IcapDropzoneBundle:Correction:correct.html.twig" %}

{% form_theme form "IcapDropzoneBundle::form_theme_bootstrap3.html.twig" %}

{% block dropzone_correct_content %}

    <div class="container">
        <div class="slrn-criteres">
            <form id="correct-form" method="POST" action="{% if edit == false %}#{% elseif admin == true %}{{ path('icap_dropzone_drops_detail_correction_comment', {'resourceId': dropzone.id, 'state' : edit ? 'edit' : 'show', 'correctionId': correction.id}) }}{% else %}{{ path('icap_dropzone_correct_comment', {'resourceId': dropzone.id}) }}{% endif %}" class="form-horizontal">

                {% if edit %}
                    <div class="slrn-input-row">
                        <h4>{{ 'attribute_rating'|trans({}, 'solerni') }} : <span class="slrn-correct-final-note londrina-solid">{{ totalGrade|round(1, 'common')|replace({'.': ','}) }}/20<span></h4>
                    </div>
                {% endif %}

                {% if dropzone.allowCommentInCorrection %}
                    {% set buttonDisabled = true %}
                    {{ form_errors(form) }}

                    {% if edit == true %}
                        <p class="slrn-bold">{{ 'add_comment'|trans({}, 'solerni')|raw }}</p>
                    {% else %}
                            {% if  state is defined and state == 'show' or state == 'preview' and dropzone.getAllowCorrectionDeny %}
                                <div class="slrn-deny-correction">
                                    <div class="col-md-8 row">
                                        <h4 class="slrn-input-row__title">{{ 'comment'|trans({}, 'solerni') }}</h4>
                                    </div>
                                     <div class='col-md-4 slrn-deny-correction-btn-container'>
                                         {% if correction.correctionDenied %}
                                             <span class="pull-right slrn-deny-correction-btn slrn-deny-correction-alert">
                                                 {{ 'Correction denied'|trans({},'icap_dropzone')}}
                                             </span>
                                         {% elseif state == 'preview' %}
                                             <a href="{{ path('icap_dropzone_drops_deny_correction', {'resourceId': dropzone.id,  'correctionId': correction.id}) }}" 
                                                class="btn btn-primary launch-modal slrn-deny-correction-btn">
                                                 {{ 'Deny correction'|trans({},'icap_dropzone') }}
                                             </a>
                                         {% endif %}
                                     </div>
                                 </div>
                             {% else %}
                                <h4 class="slrn-input-row__title">{{ 'comment'|trans({}, 'solerni') }}</h4>
                             {% endif %}
                    {% endif %}
                    {% if edit %}
                        <div class="form-group">
                    {{ form_row(form.comment, {'label_col_size': ' ', 'input_col_size': 'col-md-12', 'label_attr': {'style': 'display:none;'}, 'required': false}) }}
                    </div>
                {% else %}
                    <div class="slrn-comment-view">
                        {{ correction.comment|raw }}
                    </div>
                {% endif %}
                {% endif %}
                {% if correction.correctionDenied %}
                    <hr class="slrn-hr">
                    <div class="slrn-correction-denied-comment">  
                        <h4 class="slrn-input-row__title">{{'comment_from_denier'|trans({}, 'icap_dropzone')}}</h4>
                        <div class="slrn-comment-view">
                            {% if correction.correctionDeniedComment %}
                                {{ correction.correctionDeniedComment|raw }}
                            {% else %}
                                {{ 'no_comment'|trans({}, 'icap_dropzone') }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}               
                {{ form_rest(form) }}
                {% if edit == true %}
                <div class="slrn-grey-block slrn-info-block">
                      <p>{{ 'finish_correction'|trans({}, 'solerni')|raw }}</p>
                 </div>
                    <div class="slrn-correct-buttons">
                        {% if admin == true %}
                            <a href="{{ path('icap_dropzone_drops_detail_correction_paginated', {'resourceId': dropzone.id, 'state' : state, 'correctionId': correction.id, 'page': nbPages}) }}" class="btn btn-default back-button btn-gris slrn-dropzone-cancel">{{ 'Previous'|trans({}, 'icap_dropzone') }}</a>
                        {% else %}
                            <a href="{{ path('icap_dropzone_correct_paginated', {'resourceId': dropzone.id, 'page': nbPages}) }}" class="btn btn-default back-button btn-gris slrn-dropzone-cancel">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                        {% endif %}
                        <button type= "submit" class="btn btn-primary {% if buttonDisabled is defined %}disabled{% endif %} js-submit-button">{{ 'ok_done'|trans({}, 'solerni') }}</button>
                    </div>
                {% elseif state is defined %}
                    <div class="slrn-correct-buttons pull-left">
                	{% if state == 'preview' %}
                        <a href="{{ path('icap_dropzone_drops_detail_correction', {'resourceId': dropzone.id, 'correctionId': correction.id, 'state': 'preview', 'nbCorrections': nbCorrections }) }}" class="btn btn-default btn-primary slrn-dropzone-cancel">{{ 'Previous'|trans({}, 'icap_dropzone') }}</a>
                        <a href="{{ path('icap_dropzone_drop_detail_by_user', {'resourceId': dropzone.id,'dropId': correction.drop.id}) }}" 
                                   class="btn btn-gris slrn-back-corrections-btn">
                                        {{ 'Back to corrections'|trans({}, 'icap_dropzone') }}
                        </a>
                    {% else %}
                        <a href="{{ path('icap_dropzone_drops_detail_correction', {'resourceId': dropzone.id, 'correctionId': correction.id, 'state': state, 'nbCorrections': nbCorrections }) }}" class="btn btn-default btn-primary slrn-dropzone-cancel">{{ 'Previous'|trans({}, 'icap_dropzone') }}</a>
                        <a href="{{ path('icap_dropzone_drops_detail', {'resourceId': dropzone.id,'dropId': correction.drop.id}) }}" 
                                   class="btn btn-gris slrn-back-corrections-btn">
                                        {{ 'Back to corrections'|trans({}, 'icap_dropzone') }}
                        </a>
                    {% endif %}
                    </div>             
                {% else %}
                    <div class="slrn-correct-buttons">
                        <a href="{{ path('icap_dropzone_drops_detail_correction_paginated', {'resourceId': dropzone.id, 'state' : state, 'correctionId': correction.id, 'page': nbPages}) }}" class="btn btn-default btn-gris slrn-dropzone-cancel">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                        <a href="#" class="btn btn-default ">{{ 'Next'|trans({}, 'icap_dropzone') }}</a>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('ready', function () {
            $('#icap_dropzone_correct_comment_form_goBack').val(0);
            $('.back-button').on('click', function(event) {
                event.preventDefault();
                $('#icap_dropzone_correct_comment_form_goBack').val(1);
                $('#correct-form button[type="submit"]').trigger('click');
            });
        });
    </script>
    <script>
        jQuery(document).ready( function() {         
            var submitElement = jQuery('.js-submit-button');
            var tinyState = false;
            
            if ( ! jQuery('#icap_dropzone_correct_comment_form_comment').attr('required') ) {
                submitElement.removeClass('disabled');
                return;
            }
            
            checkAndUpdate = function() {

                if ( tinyState != tinymce.claroline.checkBeforeUnload() ) {
                    tinyState = tinymce.claroline.checkBeforeUnload();
                    if ( tinyState ) {
                        submitElement.removeClass('disabled');
                    } else {
                        submitElement.addClass('disabled');
                    }
                }
            }

            var keepRunning = setInterval( function() { checkAndUpdate() }, 300 );

            submitElement.on('click', function() {
                clearInterval( keepRunning );
            });


        });
    </script>
{% endblock %}