{% extends 'IcapDropzoneBundle:Correction:correct.html.twig' %}

{% form_theme form 'IcapDropzoneBundle::form_theme_correct_criteria.html.twig' %}

{% block dropzone_correct_content %}
    {% if  state is defined and ( state == 'show' or state == 'preview' ) and dropzone.getAllowCorrectionDeny %}
        <div class="slrn-deny-correction">
            <div class="col-md-8 row">
                <h4 class="slrn-input-row__title">{{ 'Evaluation criteria'|trans({}, 'icap_dropzone') }}</h4>
                <p>{{ 'correction_intro'|trans({}, 'solerni') }}</p>
            </div>
             <div class='col-md-4 slrn-deny-correction-btn-container'>
                 {% if correction.correctionDenied %}
                     <span class="pull-right slrn-deny-correction-alert">
                         {{ 'Correction denied'|trans({},'icap_dropzone')}}
                     </span>
                 {% elseif state == 'preview' %}
                     <a href="{{ path('icap_dropzone_drops_deny_correction', {'resourceId': dropzone.id,  'correctionId': correction.id}) }}" 
                        class="btn btn-primary launch-modal slrn-deny-correction-btn">
                         {{ 'Deny correction'|trans({},'icap_dropzone') }}
                     </a>
                 {% endif %}
             </div>
         </div>
     {% else %}
        <h4 class="slrn-input-row__title">{{ 'Evaluation criteria'|trans({}, 'icap_dropzone') }}</h4>
        <p>{{ 'correction_intro'|trans({}, 'solerni') }}</p>
     {% endif %}

    <div class="container">
        {% if dropzone.hasCriteria() %}
            <div class="slrn-criteres">
                <form class="slrn-criteres_form" id="correct-form" method="POST" action="{% if edit == false %}#{% elseif admin == true %}{{ path('icap_dropzone_drops_detail_correction_paginated', {'resourceId': dropzone.id, 'state' : edit ? 'edit' : 'show', 'correctionId': correction.id, 'page': pager.currentPage}) }}{% else %}{{ path('icap_dropzone_correct_paginated', {'resourceId': dropzone.id, 'page': pager.currentPage}) }}{% endif %}" class="form-horizontal">
                    <hr class="slrn-hr slrn-hr--lightgrey">
                    <div class="slrn-criteres__list">
                        {% for criterion in pager.currentPageResults %}
                            {% set criterionNumber = (((pager.currentPage-1) * pager.maxPerPage) + loop.index) %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>{{ criterionNumber }}<exp>{% if criterionNumber == 1 %}er{% else %}ème{% endif %}</exp> critère</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slrn-form-label">
                                        {{ form_label(form[criterion.id], label|default(null), { 'label_attr' : { 'style': '' } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row col-md-10">
                                    <div class="row col-md-12">
                                        <div class="slrn-criteria-cell">
                                            {{ 'Not at all'|trans({}, 'icap_dropzone' ) }}
                                        </div>
                                        <div class="column-container-div slrn-criteria-cell slrn-radio-cell--radios">
                                            {{ form_widget( form[criterion.id] ) }}
                                        </div>
                                        <div class="slrn-criteria-cell">
                                            {{ 'Entirely'|trans({}, 'icap_dropzone' ) }}
                                        </div>
                                    </div>
                                </div>
                                {% set criterionGrade = 0 %}
                                {%  for value in form[criterion.id].vars.value %}
                                    {% if value == true %}
                                        {% set criterionGrade = loop.index-1 %}
                                    {% endif %}
                                {% endfor %}
                                <div class="col-md-2 pull-tight slrn-form-note{% if criterionGrade == 0 %} hide{% endif %}">
                                    Note : 
                                    <span class="criterion-grade" data-criterion="icap_dropzone_correct_criteria_page_form[{{ criterion.id }}]">{{ criterionGrade }}</span>/{{ dropzone.totalCriteriaColumn-1 }}
                                </div>
                            </div>
                            <hr class="slrn-hr slrn-hr--lightgrey">
                        {% endfor %}
                        {{ form_rest(form) }}
                    </div>

                    {% if edit == true %}
                        <div class="slrn-correct-buttons">
                            {% if admin == true %}
                                {% if pager.currentPage == 1 %}
                                    <a href="{{ path('icap_dropzone_drops_detail', {'resourceId': dropzone.id, 'dropId': correction.drop.id}) }}" class="btn btn-default slrn-dropzone-cancel btn-gris">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                                {% else %}
                                    {% set previousPage = pager.currentPage-1 %}
                                    <a href="{{ path('icap_dropzone_drops_detail_correction_paginated', {'resourceId': dropzone.id, 'state' : edit ? 'edit' : 'show', 'correctionId': correction.id, 'page': previousPage}) }}" class="btn btn-default back-button">{{ 'Previous'|trans({}, 'icap_dropzone') }}</a>
                                {% endif %}
                            {% else %}
                                {% if pager.currentPage == 1 %}
                                    <a href="{{ path('icap_dropzone_open', {'resourceId': dropzone.id}) }}" class="btn btn-default slrn-dropzone-cancel btn-gris">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                                {% else %}
                                    {% set previousPage = pager.currentPage-1 %}
                                    <a href="{{ path('icap_dropzone_correct_paginated', {'resourceId': dropzone.id, 'page': previousPage}) }}" class="btn btn-default back-button">{{ 'continue'|trans({}, 'solerni') }}</a>
                                {% endif %}
                            {% endif %}

                            <button type="submit" class="btn btn-primary">{{ 'continue'|trans({}, 'solerni') }}</button>
                        </div>
                    {% else %}
                        {% set previousPage = pager.currentPage-1 %}
                        {% set nextPage = pager.currentPage+1 %}
                        {# one of the ugliest conditionnal spaghetti #}
                    
                        {% if pager.currentPage == 1 %}
                            {% if state is defined and state == 'preview' %}
                                <div class="pull-left">
                                {% if pager.currentPage == pager.nbPages and dropzone.allowCommentInCorrection %}
                                    <a  href="{{ path('icap_dropzone_drops_detail_correction_comment', {
                                                    'resourceId': dropzone.id, 
                                                    'state' : edit ? 'edit' : 'preview',
                                                    'correctionId': correction.id,
                                                    'nbCorrections': nbCorrections }) }}" 
                                        class="btn btn-primary">{{ 'Next'|trans({}, 'icap_dropzone') }}
                                    </a>
                                {% else %}
                                    <a  href="{{ path(   'icap_dropzone_drops_detail_correction_paginated', {
                                                        'resourceId': dropzone.id, 
                                                        'state' : edit ? 'edit' : 'show', 
                                                        'correctionId': correction.id, 
                                                        'page': nextPage,
                                                        'nbCorrections': nbCorrections }) }}" 
                                        class="btn btn-primary">{{ 'Next'|trans({}, 'icap_dropzone') }}
                                    </a>
                                {% endif %}
                            {% else %}
                                <div class="pull-right">
                                    <a href="{{ path('icap_dropzone_drops_detail', {'resourceId': dropzone.id, 'dropId': correction.drop.id}) }}" class="btn btn-default slrn-dropzone-cancel btn-gris">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</a>
                            {% endif %}    
                        {% else %}
                            <a  href="{{ path(  'icap_dropzone_drops_detail_correction_paginated', { 
                                                'resourceId': dropzone.id,
                                                'state' : edit ? 'edit' : 'show', 
                                                'correctionId': correction.id, 'page': previousPage}) }}" 
                                class="btn btn-default">{{ 'Previous'|trans({}, 'icap_dropzone') }}
                            </a>
                        {% endif %}
                        
                        
                        
                        {% if pager.currentPage == pager.nbPages and not dropzone.allowCommentInCorrection %}
                        {# nothing #}
                        {% elseif pager.currentPage == pager.nbPages and dropzone.allowCommentInCorrection %}
                            {% if state is defined and state == 'preview' %}
                                <a href="{{ path('icap_dropzone_drop_detail_by_user', {'resourceId': dropzone.id,'dropId': correction.drop.id}) }}" 
                                   class="btn btn-gris slrn-back-corrections-btn">
                                     {{ 'Back to corrections'|trans({}, 'icap_dropzone') }}
                                </a>
                            {% else %}
                                <a href="{{ path('icap_dropzone_drops_detail_correction_comment', {'resourceId': dropzone.id, 'state' : edit ? 'edit' : 'show', 'correctionId': correction.id}) }}" class="btn btn-primary">{{ 'Next'|trans({}, 'icap_dropzone') }}</a>
                            {% endif %}
                        {% else %}
                            {% if state is defined and state == 'preview' %}
                                <a href="{{ path('icap_dropzone_drop_detail_by_user', {'resourceId': dropzone.id,'dropId': correction.drop.id}) }}" 
                                   class="btn btn-gris slrn-back-corrections-btn">
                                        {{ 'Back to corrections'|trans({}, 'icap_dropzone') }}
                                </a>
                            {% else %}
                                <a href="{{ path('icap_dropzone_drops_detail_correction_paginated', {'resourceId': dropzone.id, 'state' : edit ? 'edit' : 'show', 'correctionId': correction.id, 'page': nextPage}) }}" class="btn btn-primary">{{ 'Next'|trans({}, 'icap_dropzone') }}</a>
                            {% endif %}
                        {% endif %}
                        </div>
                    {% endif %}
                </form>
            </div>

            <div class="row">
        {% else %}
            <div class="alert alert-warning">L'évaluation ne possède aucun critère pour corriger les copies. La correction est impossible.</div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .column-container-div {
            text-align: center;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('ready', function () {

            var calculateTotalGrade = function () {
                var totalGrade = 20;
                $('.correctionGrade').html(totalGrade);
            };
            
            var updateNoteValue = function( radioElement ) {
                var name = radioElement.attr('name');
                var value = radioElement.val();
                var targetNote = '.criterion-grade[data-criterion="'+name+'"]';
                $(targetNote).html(value);
                $(targetNote).parent().removeClass('hide');
            }
            
            $('#icap_dropzone_correct_criteria_page_form_goBack').val(0);
            $('.back-button').on('click', function(event) {
                event.preventDefault();
                $('#icap_dropzone_correct_criteria_page_form_goBack').val(1);
                $('#correct-form button[type="submit"]').trigger('click');
            });          

            $('.column-container-div input[type="radio"]')
            .each( function() {
                if ( $(this).is( ':checked') ) {
                    updateNoteValue( $(this) );
                }
            })
            .on('click', function () {
               updateNoteValue( $(this) );
            });

            calculateTotalGrade();
        });
    </script>
    {# Starts of function to hide radios and replace it with styled elements #}
    {#<script>
        $(document).on('ready', function () {
            var radioContainers = jQuery('.slrn-radio-cell--radios');
            var pseudoRadioContainer = '<span class="slrn-pseudo-buttons"></span>';
            var pseudoRadioElement = '<div class="radio-inline radio"><span class="radio-inline--pseudo"></span></span>';
              
            radioContainers.each( function() {
                radioButtons = jQuery(this).find( '.radio' );
                var pseudoRadioContainerObject = jQuery(this).prepend( pseudoRadioContainer );
                
                
                radioButtons.hide().each( function() {
                    pseudoRadioContainerObject.append( pseudoRadioElement );
                    
                });
              
            });
              
        });
    </script>#}
{% endblock %}