{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% block resourceBreadcrumb %}
    {% if admin == true %}
        <li><a href="{{ path('icap_dropzone_edit_common', {'resourceId': dropzone.id}) }}"><span
                        class="glyphicon icon-list"></span> {{ dropzone.resourceNode.name }}</a></li>
        <li>
        <li><a href="{{ path('icap_dropzone_drops', {'resourceId': dropzone.id}) }}"><span class="glyphicon icon-list"></span> {{ dropzone.resourceNode.name }}</a></li>
        <li><a href="{{ path('icap_dropzone_drops_detail', {'resourceId': dropzone.id, 'dropId': correction.drop.id}) }}">
            {{ 'Retail copy of %firstName% %lastName%'|trans({'%firstName%': correction.drop.user.firstName, '%lastName%': correction.drop.user.lastName}, 'icap_dropzone') }}
        </a></li>
        <li class="active">{{ 'Correction by %firstName% %lastName%'|trans({'%firstName%': correction.user.firstName, '%lastName%': correction.user.lastName}, 'icap_dropzone') }}</li>
    {% else %}
        <li><a href="{{ path('icap_dropzone_open', {'resourceId': dropzone.id}) }}"><span class="glyphicon icon-file"></span> {{ dropzone.resourceNode.name }}</a></li>
        <li>
            <a href="{{ path('icap_dropzone_drop_detail_by_user', {'resourceId': dropzone.id,'dropId':correction.drop.id}) }}">  {{ 'Details of your copy'|trans({}, 'icap_dropzone') }}</a>
        </li>
        <li class="active">{{ 'Correction'|trans({}, 'icap_dropzone') }}</li>
    {% endif %}
{% endblock %}

{% block dropzone_content %}
    <section class="col-xs-12 col-md-12">
    <div class="col-xs-3 col-md-3">
        {# FIRST : MOOC  WIDGET #}
        {% render controller(
            'ClarolineCoreBundle:Mooc\\Mooc:getWorkspacePresentationWidget',
            { 'workspaceId': workspace.getId(), 'renderProgression': false }
        ) %}

        {# include parcours twig #}
        {% set currentFile = 2 %}
        {% include 'IcapDropzoneBundle:Solerni:parcours.html.twig' %}
   </div>
    <div class="col-xs-9 col-md-9 slrn-dropzone-correc">
    <div class="container container-dropzone slrn-container-dropzone">
        <div class="row">
            <div class="col-md-12 col-xs-12">
        {% if admin %}
            {# This is the view correction case #}
            {# Header with link and associated badge #}
            {% include 'IcapDropzoneBundle:Solerni:headerEvalBadge.html.twig' %}
            {% if nbCorrections is not defined and state is defined  %}
                {% if  app.request.get('nbCorrections') and ( state == 'preview' or state == 'show' ) %}
                    {% set nbCorrections = app.request.get('nbCorrections') %}
                {% else %}
                    {% set nbCorrections = 0 %}
                {% endif %}
            {% endif %}
            
            {% if state is defined %}
                <h2>{{ 'correction_copy'|trans({}, 'solerni') }} n°{{ nbCorrections + 1 }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>{{'faq'|trans({}, 'platform')}}</a></span></h2>
            {% else %}
                <h2>{{ 'correcting_copy'|trans({}, 'solerni') }} n°{{ nbCorrections + 1 }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>{{'faq'|trans({}, 'platform')}}</a></span></h2>
            {% endif %}
            <hr class="slrn-hr slrn-hr--lightgrey">
            {% if state is not defined %}
                <div class="slrn-dropzone-bloc">
                    <div class="col-md-8 col-xs-8">
            {% else %}
                <div class="slrn-dropzone-bloc slrn-dropzone-bloc--fullwidth">
                    <div class="col-md-12 col-xs-12">
                {% endif %}
                    {% if state is not defined %}
                        <div class='date__end'>{{ 'date_limite_corrections'|trans({}, 'solerni') }} {{ dropzone.endReview|date("d/m/Y") }}</div>
                    {% endif %}
                    {# display instructions collapse #}
                    {% include 'IcapDropzoneBundle:Solerni:instructionCollapse.html.twig' %}
                </div>
                {% if state is not defined %}
                    <div class="col-md-4 col-xs-4">
                        {% include 'IcapDropzoneBundle:Solerni:forumComponent.html.twig' %}
                    </div>
                {% endif %}
            </div>
            {% if correction is not null %}
                <div class="row slrn-dropzone-bloc">
                    <div class="col-md-12">
                        <div class="slrn-grey-block slrn-grey-block--with-title">
                            {%  if correction.dropzone.isPeerReview() and correction.dropzone.hasCriteria() and state is not defined %}
                                {% if correction.reporter == false %}
                                    <a  data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="{{ 'report_copy'|trans({}, 'solerni') }}" 
                                        href="{{ path('icap_dropzone_report_drop', {
                                            'resourceId': dropzone.id,
                                            'dropId': correction.drop.id,
                                            'correctionId': correction.id}) }}" 
                                        class="pull-right launch-modal slrn-report-button">
                                    </a>
                                {% else %}
                                    <span class="slrn-deny-correction-alert">{{ 'Already reported'|trans({}, 'icap_dropzone') }}</span>
                                {% endif %}
                            {%  endif %}
                            {% if state is not defined %}
                                <h3 class="slrn-grey-block-title">{{ 'document_list_to_correct'|trans({}, 'solerni') }}</h3>
                            {% else %}
                                <h3 class="slrn-grey-block-title">{{ 'drop_details'|trans({}, 'solerni') }}</h3>  
                            {% endif %}
                            {% if correction.drop.documents|length > 0 %}
                                {% for document in correction.drop.documents %}
                                    <div class="slrn-drop-list__item slrn-drop-list__item--no-garbage row col-md-12">
                                        {% include 'IcapDropzoneBundle:Document:simpleShowDocument.html.twig' with {'document': document} %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="slrn-bold">{{ 'No document associated'|trans({}, 'icap_dropzone') }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            {# NO ADMIN #}
            {# Header with link and associated badge #}
            {% include 'IcapDropzoneBundle:Solerni:headerEvalBadge.html.twig' %}
            {% if nbCorrections is not defined and state is defined and state == 'preview' %}
                {% if  app.request.get('nbCorrections') %}
                    {% set nbCorrections = app.request.get('nbCorrections') %}
                {% else %}
                    {% set nbCorrections = 0 %}
                {% endif %}
            {% endif %}
            
            {% if state is defined %}
                <h2>{{ 'correction_copy'|trans({}, 'solerni') }} n°{{ nbCorrections + 1 }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>{{'faq'|trans({}, 'platform')}}</a></span></h2>
            {% else %}
                <h2>{{ 'correcting_copy'|trans({}, 'solerni') }} n°{{ nbCorrections + 1 }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>{{'faq'|trans({}, 'platform')}}</a></span></h2>
            {% endif %}
            <hr class="slrn-hr slrn-hr--lightgrey">
            {% if state is not defined %}
                <div class="slrn-dropzone-bloc">
                    <div class="col-md-8 col-xs-8">
            {% else %}
                <div class="slrn-dropzone-bloc slrn-dropzone-bloc--fullwidth">
                    <div class="col-md-12 col-xs-12">
                {% endif %}
                    {% if state is not defined or state != 'preview' %}
                        <div class='date__end'>{{ 'date_limite_corrections'|trans({}, 'solerni') }} {{ dropzone.endReview|date("d/m/Y") }}</div>
                    {% endif %}
                    {# display instructions collapse #}
                    {% include 'IcapDropzoneBundle:Solerni:instructionCollapse.html.twig' %}
                </div>
                {% if state is not defined or state != 'preview' %}
                    <div class="col-md-4 col-xs-4">
                        {% include 'IcapDropzoneBundle:Solerni:forumComponent.html.twig' %}
                    </div>
                {% endif %}
            </div>
            {% if correction is not null %}
                <div class="row slrn-dropzone-bloc">
                    <div class="col-md-12">
                        <div class="slrn-grey-block slrn-grey-block--with-title">
                            {%  if correction.dropzone.isPeerReview() and correction.dropzone.hasCriteria() and state is not defined %}
                                {% if correction.reporter == false %}
                                    <a  data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="{{ 'report_copy'|trans({}, 'solerni') }}" 
                                        href="{{ path('icap_dropzone_report_drop', {
                                            'resourceId': dropzone.id,
                                            'dropId': correction.drop.id,
                                            'correctionId': correction.id}) }}" 
                                        class="pull-right launch-modal slrn-report-button">
                                    </a>
                                {% else %}
                                    <span class="slrn-deny-correction-alert">{{ 'Already reported'|trans({}, 'icap_dropzone') }}</span>
                                {% endif %}
                            {%  endif %}
                                    
                            {% if state is not defined %}
                                <h3 class="slrn-grey-block-title">{{ 'document_list_to_correct'|trans({}, 'solerni') }}</h3>
                            {% else %}
                                <h3 class="slrn-grey-block-title">{{ 'drop_details'|trans({}, 'solerni') }}</h3>
                            {% endif %}
                            {% if correction.drop.documents|length > 0 %}
                                {% for document in correction.drop.documents %}
                                    <div class="slrn-drop-list__item slrn-drop-list__item--no-garbage row col-md-12">    
                                        {% include 'IcapDropzoneBundle:Document:simpleShowDocument.html.twig' with {'document': document} %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="slrn-bold">{{ 'No document associated'|trans({}, 'icap_dropzone') }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if correction.reporter %}
            {%  if correction.dropzone.isPeerReview() and 
                   correction.dropzone.hasCriteria() and 
                   ((state is defined and state != 'preview') or (state is not defined )) and
                   correction.reporter == true %}
                <a href="#reportModal" data-toggle="modal" class="btn btn-primary pull-right">{{ 'Remove report'|trans({}, 'icap_dropzone') }}</a>
            {% else %}
                <span class="slrn-deny-correction-alert pull-right">{{ 'This copy has been reported'|trans({}, 'icap_dropzone') }}</span>
            {% endif %}
            <h3>{{ 'Reason of reporting'|trans({}, 'icap_dropzone') }}</h3>
            <div class="well">
                {{ correction.reportComment|raw }}
            </div>
            
            <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{ 'Warning'|trans({}, 'icap_dropzone') }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ 'You are about to remove a report. What do you do'|trans({}, 'icap_dropzone') }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans({}, 'icap_dropzone') }}</button>
                            <a href="{{ path('icap_dropzone_remove_report', {'resourceId': dropzone.id, 'dropId': correction.drop.id, 'correctionId': correction.id, 'invalidate': 0}) }}" class="btn btn-danger pull-right">{{ 'Keep this correction scored zero'|trans({}, 'icap_dropzone') }}</a>
                            <a href="{{ path('icap_dropzone_remove_report', {'resourceId': dropzone.id, 'dropId': correction.drop.id, 'correctionId': correction.id, 'invalidate': 1}) }}" class="btn btn-danger pull-right">{{ 'Invalidate this correction'|trans({}, 'icap_dropzone') }}</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        {% else %}
            {% block dropzone_correct_content %}
            {% endblock %}
        {% endif %}
            </div></div></div>
    </div></section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% render controller('ClarolineCoreBundle:ResourceType:initPicker') %}
    {{ tinymce_init() }}
    <script src="{{ asset('bundles/icapdropzone/js/popup.js') }}"></script>
{% endblock %}