{% if document.type == 'resource' %}
    {% set typeName = 'Bibliothèque'|trans({}, 'solerni') %}
{% elseif document.type == 'url' %}
    {% set typeName = 'Lien internet'|trans({}, 'solerni') %}
{% elseif document.type == 'file' %}
    {% set typeName = 'Fichier'|trans({}, 'solerni') %}
{% elseif document.type == 'text' %}
    {% set typeName = 'Texte'|trans({}, 'solerni') %}
{% else %}
    {% set typeName = 'Document'|trans({}, 'solerni') %}
{% endif %}

{% if document.url is not null %}
    <span class="slrn-bold col-md-3 row">{{ 'Document'|trans({'%count%': loop.index}, 'solerni') }}</span>
    <span class="slrn-bold col-md-3">{{ typeName }}</span>
    <a class="pink_link col-md-5 slrn-drop-list__name" target="_blank" href="{{ document.url }}">
        {{ document.url }}
    </a>
{% else %} 
    <span class="slrn-bold col-md-3 row">{{ 'Document'|trans({'%count%': loop.index}, 'solerni') }}</span>
    <span class="slrn-bold col-md-3">{{ typeName }}</span>
    <a class="pink_link col-md-5 slrn-drop-list__name" target="_blank" href="{{ path('icap_dropzone_open_resource', {'resourceId': dropzone.id, 'documentId': document.id}) }}">
        {% if document.resourceNode.name is defined %}
            {{ document.resourceNode.name }}
        {% endif %}
    </a>
{% endif %}
{% if showGarbage is defined and drop is defined %}
    <a title="{{ 'delete_document'|trans({}, 'solerni') }}" href="{{ path('icap_dropzone_delete_document', {'resourceId': dropzone.id, 'dropId': drop.id, 'documentId': document.id}) }}" 
      class="btn-garbage launch-modal col-md-1 slrn-btn-garbage">
      <span class="glyphicon icon-trash slrn-icon-trash"></span> {{ 'Delete'|trans({}, 'icap_dropzone') }}
    </a>
{% endif %}