{% extends "IcapDropzoneBundle::layout.html.twig" %}
{% if (byUserMod is not defined)%}
    {% set byUserMod = 0 %}
{% endif %}

{% block resourceBreadcrumb %}
        {% if byUserMod == 1 %}
            <li>
                <a href="{{ path('icap_dropzone_open', {'resourceId': dropzone.id}) }}"><span
                            class="glyphicon icon-list"></span> {{ dropzone.resourceNode.name }}</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('icap_dropzone_edit_common',{'resourceId':dropzone.id}) }}"><span
                            class="glyphicon icon-list"></span>  {{ dropzone.resourceNode.name }}</a>
            </li>
            <li>
                <a href="{{ path('icap_dropzone_drops', {'resourceId': dropzone.id}) }}"> {{ 'List of copies'|trans({}, 'icap_dropzone') }}</a>
            </li>
            </li>
        {% endif  %}

    <li class="active">
        {% if byUserMod == 1 %}
            {{ 'Details of your copy'|trans({}, 'icap_dropzone') }}
        {% else %}
            {{ 'Retail copy of %firstName% %lastName%'|trans({'%firstName%': drop.user.firstName, '%lastName%': drop.user.lastName}, 'icap_dropzone') }}
        {% endif %}
    </li>


{% endblock %}

{% block dropzone_content %}

<section class="col-xs-12 col-md-12">
    <div class="col-xs-3 col-md-3">
        {# FIRST : MOOC  WIDGET #}
        {% render controller(
            'ClarolineCoreBundle:Mooc\\Mooc:getWorkspacePresentationWidget',
            { 'workspaceId': workspace.getId(), 'renderProgression': false }
        ) %}

        {# include parcours twig #}
        {% set currentFile = 1 %}
        {% include 'IcapDropzoneBundle:Solerni:parcours.html.twig' %}
        
    </div>
    <div class='col-xs-9 col-md-9'>
        <div class="container-fluid">
            {# Header with link and associated badge #}
            {% include 'IcapDropzoneBundle:Solerni:headerEvalBadge.html.twig' with { 'viewCorrections': 'true' } %}
            <span class="{% if drop.reported and byUserMod == 0 %}text-danger{% endif %}">
                <h2>
                    {% if byUserMod == 1 %}
                        {{ 'correction_list'|trans({}, 'solerni') }}
                    {% else %}
                        {{ 'Retail copy of %firstName% %lastName%'|trans({'%firstName%': drop.user.firstName, '%lastName%': drop.user.lastName}, 'icap_dropzone') }}
                    {% endif %}
                </h2>
            </span>
            <hr class="slrn-hr slrn-hr--lightgrey">
            {% if(byUserMod == 0) %}
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-default btn-sm" href="{{ path('icap_dropzone_drops', {'resourceId': dropzone.id}) }}"><span class="glyphicon icon-angle-left"></span> {{ 'Return to copies'|trans({}, 'icap_dropzone') }}</a>
                    </div>
                </div>

                <br/>
                {% if drop.reported %}
                    <div class="row text-danger">
                        <div class="col-md-12">
                            <span class="glyphicon icon-warning-sign"></span>
                            {{ 'This copy has been reported'|trans({}, 'icap_dropzone') }}
                        </div>
                    </div>
                {% endif %}
            {%  endif %}

            {# drop details #}
            <div class="slrn-grey-block slrn-grey-block--with-title">
                <h3 class="slrn-grey-block-title">{{ 'drop_details'|trans({}, 'solerni') }}</h3>
                {% if drop.documents|length > 0 %}
                    {% for document in drop.documents %}
                        <div class="slrn-drop-list__item slrn-drop-list__item--no-garbage row col-md-12">
                            {% include 'IcapDropzoneBundle:Document:simpleShowDocument.html.twig' %}
                         </div>
                    {% endfor %}
                {% else %}
                    <p class="slrn-bold">{{ 'No document associated'|trans({}, 'icap_dropzone') }}</p>
                {% endif %}
            </div>

            <h3>
                {{ 'Average validated corrections'|trans({}, 'icap_dropzone') }}
                <span class="slrn-correct-final-note londrina-solid">{% include 'IcapDropzoneBundle:Drop:dropsTotalGrade.html.twig' %}</span>
            </h3>

            {%  if isAllowedToEdit %}
                <a class="btn btn-default" href="{{  path("icap_dropzone_drops_detail_add_correction",{'resourceId':dropzone.id,'dropId':drop.id}) }}">
                    {{  "Add a correction"|trans({},'icap_dropzone') }}
                </a>
            {% endif %}

            {% include 'IcapDropzoneBundle:Correction:Listing/correctionListing.html.twig' %}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/icapdropzone/js/popup.js') }}"></script>
{% endblock %}