        {# Define steps #}
        {% set stepNames = [
            'welcome'|trans({}, 'solerni'),
            'welcome_constit1'|trans({}, 'solerni'),
            'evaluation_by_peers'|trans({}, 'solerni')
            ]
        %}

        {% set stepNames2 = [] %}
        {% for step in 1..dropzone.expectedTotalCorrection %}
            {% set correctionName = [ 'correcting_copy'|trans({}, 'solerni') ~ '<span class="no-wrap"> n°' ~ step ~ '</span>'] %}
            {% set stepNames2 = stepNames2|merge( correctionName ) %}
        {% endfor %}
        {% set stepNames = stepNames|merge( stepNames2 ) %}

        {% set stepNames2 = [
            'endNotOver'|trans({}, 'solerni'),
            'evalDone'|trans({}, 'solerni')
            ]
        %}
        {% set stepNames = stepNames|merge( stepNames2 ) %}

        {# Which main step are we ? (could be : 'Evaluation not started', 'awaiting for drop', 'drop provided', 'waiting for correction', 'corrected copy') #}
        {# there  is 5 steps + nombre de corrections à faire #}
 
        {% set nbSteps = 5 + dropzone.expectedTotalCorrection %}

        {% if currentFile is not defined %}
            {% set currentFile = 0 %}
        {% endif %}

        {% set currentStep = dropzoneProgress.currentState + currentFile %}

        {# Add one to last step #}
        {% if nbSteps == currentStep %}
            {% set currentStep = currentStep + 1 %}
        {% endif %}

        {% if nbCorrections is not defined %}
            {% set nbCorrections = 0 %}
        {% endif %}

        {#drop current {{ dropzoneProgress.currentState }}
        addition {{ currentFile }}
        result {{ currentStep }}
        corrects {{ nbCorrections }}
        nbSteps {{nbSteps}}#}

        <div class='col-xs-12 col-md-12 slrn-widget slrn-widget--dropzone'>
	        <div class='row slrn-widget__title bg-color-primary slrn-widget_row'>
	           {{ 'parcours_title'|trans({}, 'solerni') }}
            </div>
            {% for name in stepNames %}
                <div class='row bg-color-grey-1 slrn-widget--dropzone__item'>
                    {% if currentStep > loop.index %}
                        <span class="slrn-round slrn-checked">&#10003;</span>
                        <span class="slrn-item-done">{{ name|raw }}</span>
                    {% elseif currentStep == loop.index %}
                       <span class="slrn-round slrn-number--active slrn-number">{{ loop.index }}</span>
                       <span class="slrn-item-done">{{ name|raw }}</span>
                    {% else %}
                        <span class="slrn-round slrn-number">{{ loop.index }}</span>
                        {{ name|raw }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>