<div class="row">
<div class="col-md-12">
    {% if drop.countFinishedCorrections >= dropzone.expectedTotalCorrection %}
    
        {% if drop.calculatedGrade >= dropzone.minimumScoreToPass %}
        
	        <h2>{{ 'evalDone'|trans({}, 'solerni') }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>FAQ</a></span></h2>
	        <hr />
            <p>
                {{ 'default_success_message'|trans({'evalGrade': drop.getCalculatedGrade|round(1, 'common')|replace({'.': ','}) }, 'solerni')|raw }}                   
	        </p>
            {% set totalBadgesToGo = nbTotalBadges - nbAcquiredBadges %}
            {% if totalBadgesToGo > 1 %}
                {% set plural = 's' %}
            {% else %}
                {% set plural = '' %}
            {% endif %}
            {% for workspaceBadge in badges %}
                {% set badgeType = workspaceBadge.type %}

                {% if 'owned' == badgeType %}
                    {% set badge     = workspaceBadge.badge.badge %}
                    {% set userBadge = workspaceBadge.badge %}
                    {% set buttonLink = path( 'claro_workspace_tool_view_my_badge', {'workspaceId': workspace.id, 'slug': badge.slug } ) %}
                    <p>{{ 'win_badge'|trans({'moocName': workspace.getName() }, 'solerni')|raw }}</p>
                    <div class="slrn-my_badges-list__item">
                        <img src="{{ asset(badge.webPath) }}" alt="{{ badge.name }}" class="slrn-my_badges-list__item__image" />
                        <section class="slrn-my_badges-list__body">
                            <h6 class="slrn-my_badges-list__item__title">Badge &laquo; {{ badge.name }} &raquo;</h6>
                            <span class=" slrn-my_badges-list__body__status"><span class="slrn-bold">Obtenu le :</span> {{ userBadge.issuedAt|date('date_format'|trans({}, 'platform')) }}</span>
                            <article class="slrn-my_badges-list__content">{{ badge.criteria | raw }}</article>
                            <footer class="slrn-my_badges-list__footer">
                                <div class="">
                                    <span class="slrn-gratuit-icon">prix gratuit</span>
                                </div>
                                <div class="slrn-button-page">
                                    <a class="btn btn-primary pull-right" href="{{ buttonLink }}">
                                        {{'my_badge_details'|trans({}, 'platform')}}
                                    </a>
                                    <a class="btn btn-gris pull-left slrn-dropzone-cancel" href="{{ path('icap_dropzone_drop_detail_by_user',{'resourceId': dropzone.id,'dropId':drop.id}) }}">
                                        {{'see_corrections'|trans({}, 'solerni')}}
                                    </a>
                                </div>
                           </footer>
                       </section>
                   </div>
                {% endif %}
            {% endfor %}
			<div class='redlink'>
                <p>
                    {{ 'post_success_message'|trans({'badgeUrl': path('claro_profile_view_badges') }, 'solerni')|raw }}
                </p>
                <p>
                    {{ 'post_success_message_more'|trans({'totalBadgesToGo': totalBadgesToGo, 'plural': plural, 'moocName': workspace.getName() }, 'solerni')|raw }}
                </p>
		    </div>
        {% else %}
        
	        <h2>{{ 'evalDone'|trans({}, 'solerni') }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>FAQ</a></span></h2>
	        <hr/>
            <p>
                {{ 'default_failed_message'|trans({'evalGrade': drop.getCalculatedGrade|round(1, 'common')|replace({'.': ','}) }, 'solerni')|raw }}                   
	        </p>
            <p>
                {{ 'post_failed_message'|trans({'evalGrade': drop.getCalculatedGrade|round(1, 'common')|replace({'.': ','}) }, 'solerni')|raw }}  
            </p>
	     {% endif %}
        <div class="slrn-correct-buttons">
            <a href="{{ app.session.get('solerni_apprendre_url') }}" class="btn btn-default btn-gris slrn-dropzone-cancel">{{ 'return_mooc'|trans({}, 'solerni') }}</a>
            <a href="{{ path( 'claro_workspace_open_tool', { 'workspaceId': workspace.getId(), 'toolName': 'my_badges' } ) }}" class="btn btn-primary btn-default ">{{ 'get_new_badges'|trans({}, 'solerni') }}</a>
        </div>
    {% else %}
        <h2>{{ 'endNotOver'|trans({}, 'solerni') }}<span class='FAQ'><a href='{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}' class='FAQ'>FAQ</a></span></h2>
        <hr/>
        {% if dropzone.endReview < date() %}
            <div class="slrn-grey-block slrn-info-block">
                {% set endEvalDate = dropzone.endReview|date("d/m/Y") %}
                <p>{{ 'review_is_over'|trans({ 'endEvalDate': endEvalDate }, 'solerni')|raw }}</p>
            </div>
        {% else %}
            <p>{{ 'wait_for_results'|trans({}, 'solerni')|raw }}
        {% endif %}
    {% endif %}
</div>
</div>